body {
    height:100vh;
    background: #f7f7f9;
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}

.weather-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    &__item {
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 20%;
        border: 1px solid #ccc;
    }
}

p {
    font: rem(14px, 16px) $light;
    color: #232323;
    padding: 5px 0;
}



